@import '../../vars'
  
.Header
  background: $ui-dark
  height: 56px
  border-bottom: 1px solid $stroke-dark
  .container
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between